Registro Di Gioco/GamePlaysXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="game">
  <xsd:complexType>
  <xsd:sequence>
    <xsd:element name="username" type="xsd:string">
    <xsd:element name="hp" type="xsd:integer">
    <xsd:element name="ap" type="xsd:integer">
    <xsd:element name="dr" type="xsd:integer">
    <xsd:element name="cs" type="xsd:integer">
  </xsd:sequence>
  </xsd:complexType>
</xsd:element>
  
</xsd:schema>
